---
import Layout from "@/layouts/Layout.astro";
import Sidebar from "@/components/Sidebar.astro";
---

<Layout title="aprende a progrmar">
  <main class="flex">
    <Sidebar />
    <div class="hero">
      <div class="max-w-lg">
        <h1 class="md:text-6xl capitalize text-2xl font-bold">
          aprende programación
        </h1>
        <p class="text-yellow-400 text-2xl py-4">
          Curso y contenido gratuito para aprender a programar, desde los
          fundamentos
        </p>
      </div>
    </div>
  </main>
</Layout>
